.env
.env.*
!.env.example

node_modules/
dist/
.claude

infra/*
!infra/aks/
!infra/argocd-application.yaml

.github/workflows/container-deploy.yml

.github/workflows/aks-deploy.yml


9cNIChGPtANCOWAE%